@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");
* {
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Epilogue", sans-serif;
  font-size: 16px;
  background-color: #fafafa;
  overflow-x: hidden;
}

@media only screen and (max-width: 912px) {
  body {
    max-width: 375px;
  }
}

nav {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
  padding-top: 50px;
}

@media only screen and (max-width: 912px) {
  nav {
    padding: 20px;
    justify-content: space-between;
  }
}

nav .logo {
  padding-right: 40px;
}

nav .logo img {
  transform: translateY(7px);
}

@media only screen and (max-width: 912px) {
  nav .logo img {
    width: 90px;
  }
}

nav .menu {
  position: relative;
  flex-grow: 2;
}

nav .menu__list {
  display: flex;
  flex-flow: row nowrap;
  list-style-type: none;
}

nav .menu__list__item {
  color: dimgray;
  padding-right: 30px;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

nav .menu__list__item:hover {
  color: #141414;
}

nav .menu__list__sub1, nav .menu__list__sub2 {
  display: none;
  position: absolute;
  left: -35px;
  border-radius: 8px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

nav .menu__list__sub1 .sub__menu, nav .menu__list__sub2 .sub__menu {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  list-style-type: none;
  padding: 28px 20px;
}

nav .menu__list__sub1 .sub__menu .sub__item, nav .menu__list__sub2 .sub__menu .sub__item {
  color: dimgray;
  padding-bottom: 10px;
  cursor: pointer;
}

nav .menu__list__sub1 .sub__menu .sub__item:hover, nav .menu__list__sub2 .sub__menu .sub__item:hover {
  color: #141414;
}

nav .menu__list__sub1 .sub__menu .sub__item:last-child, nav .menu__list__sub2 .sub__menu .sub__item:last-child {
  padding-bottom: 0;
}

nav .menu__list__sub1 .sub__menu .sub__item .icon, nav .menu__list__sub2 .sub__menu .sub__item .icon {
  display: inline-block;
  height: 16px;
  width: 16px;
  margin-right: 20px;
  background-repeat: no-repeat;
  background-size: cover;
}

nav .menu__list__sub1 .sub__menu .sub__item .icon-todo, nav .menu__list__sub2 .sub__menu .sub__item .icon-todo {
  background-image: url("../images/icon-todo.svg");
}

nav .menu__list__sub1 .sub__menu .sub__item .icon-calendar, nav .menu__list__sub2 .sub__menu .sub__item .icon-calendar {
  background-image: url("../images/icon-calendar.svg");
}

nav .menu__list__sub1 .sub__menu .sub__item .icon-reminders, nav .menu__list__sub2 .sub__menu .sub__item .icon-reminders {
  background-image: url("../images/icon-reminders.svg");
}

nav .menu__list__sub1 .sub__menu .sub__item .icon-planning, nav .menu__list__sub2 .sub__menu .sub__item .icon-planning {
  background-image: url("../images/icon-planning.svg");
}

nav .menu__list__sub1.show, nav .menu__list__sub2.show {
  display: block;
}

nav .menu__list__sub2 {
  left: 150px;
}

nav .user__list {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  list-style-type: none;
}

nav .user__list__item {
  color: dimgray;
  padding-right: 30px;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

nav .user__list__item:hover {
  color: #141414;
}

nav .user__list__item.button {
  border: 2px solid dimgray;
  border-radius: 14px;
  padding: 16px 28px;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

nav .user__list__item.button:hover {
  background-color: #141414;
  border: 2px solid #141414;
  color: #fafafa;
}

main {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  padding: 40px;
}

@media only screen and (max-width: 912px) {
  main {
    flex-direction: column-reverse;
    padding: 0;
  }
}

main .text {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 60%;
}

@media only screen and (max-width: 912px) {
  main .text {
    padding: 0;
    flex-basis: 100%;
  }
}

main .text .header {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}

main .text .header h1 {
  font-size: 6em;
  max-width: 640px;
  margin: 0;
  margin-top: 36px;
  text-align: left;
}

@media only screen and (max-width: 912px) {
  main .text .header h1 {
    font-size: 2.25em;
    max-width: 370px;
    width: 100%;
    margin-top: 50px;
    text-align: center;
  }
}

main .text .header p {
  font-size: 1.35em;
  line-height: 1.5em;
  max-width: 571px;
  color: dimgray;
  margin-top: 36px;
  text-align: left;
}

@media only screen and (max-width: 912px) {
  main .text .header p {
    font-size: 1em;
    max-width: 340px;
    margin: 0 auto;
    width: 100%;
    margin-top: 26px;
    text-align: center;
  }
}

main .text .header button {
  font-size: 1.35em;
  font-weight: 700;
  border: 2px solid #141414;
  background-color: #141414;
  color: #fafafa;
  border-radius: 14px;
  padding: 16px 28px;
  margin-top: 36px;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

main .text .header button:hover {
  border: 2px solid #141414;
  background-color: #fafafa;
  color: #141414;
}

@media only screen and (max-width: 912px) {
  main .text .header button {
    font-size: 1em;
    max-width: 340px;
    margin: 0 auto;
    margin-top: 26px;
    text-align: center;
  }
}

main .text .logo-group {
  padding: 10px;
}

main .text .logo-group img {
  padding-right: 30px;
}

main .text .logo-group .attribution {
  font-size: 10px;
  text-align: left;
  padding-top: 40px;
}

@media only screen and (max-width: 912px) {
  main .text .logo-group .attribution {
    text-align: center;
  }
}

main .text .logo-group .attribution a {
  color: #4f5d96;
}

@media only screen and (max-width: 912px) {
  main .text .logo-group {
    margin: 0 auto;
    margin-top: 36px;
  }
  main .text .logo-group img {
    padding-right: 10px;
    width: 80px;
  }
}

main .featured-image {
  flex-basis: 40%;
  overflow: hidden;
  width: 100%;
  height: 725px;
  background-image: url(../images/image-hero-desktop.png);
  background-size: cover;
}

@media only screen and (max-width: 912px) {
  main .featured-image {
    padding: 0;
    padding-top: 20px;
    flex-basis: 100%;
    background-image: url(../images/image-hero-mobile.png);
    background-size: cover;
    min-height: 282px;
    width: 100%;
  }
}

.blocker {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  transition: all 0.3s ease-in;
}

.mobile-container {
  position: fixed;
  top: 0;
  z-index: 3;
  height: 100%;
  background-color: #fafafa;
  opacity: 0;
  transition: all 0.3s ease-in;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 20px;
  width: 240px;
}

.mobile-container .close-btn {
  cursor: pointer;
}

.mobile-container .sub__menu {
  list-style-type: none;
  width: 100%;
  padding: 0;
  padding-top: 22px;
}

.mobile-container .sub__menu li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 13px 0;
  color: dimgray;
  cursor: pointer;
}

.mobile-container .sub__menu li .submenu-1,
.mobile-container .sub__menu li .submenu-2 {
  width: 100%;
  padding-top: 20px;
  transition: all 0.3s ease-in;
}

.mobile-container .sub__menu li .submenu-1 div,
.mobile-container .sub__menu li .submenu-2 div {
  padding: 5px 0;
  padding-left: 45px;
}

.desktop-only {
  display: block;
}

@media only screen and (max-width: 912px) {
  .desktop-only {
    display: none;
  }
}

.mobile-only {
  display: none;
}

@media only screen and (max-width: 912px) {
  .mobile-only {
    display: block;
  }
}
