// ## Layout

// - Mobile: 375px
// - Desktop: 1440px

// ## Colors

// ### Neutral

// - Almost White: hsl(0, 0%, 98%)
// - Medium Gray: hsl(0, 0%, 41%)
// - Almost Black: hsl(0, 0%, 8%)

// ## Typography

// ### Body Copy

// - Font size (paragraph): 18px

// ### Font

// - Family: [Epilogue](https://fonts.google.com/specimen/Epilogue)
// - Weights: 500, 700
@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Epilogue", sans-serif;
  font-size: 16px;
  background-color: hsl(0, 0%, 98%);
  overflow-x: hidden;

  @media only screen and (max-width: 912px) {
    max-width: 375px;
  }
}

nav {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
  padding-top: 50px;

  @media only screen and (max-width: 912px) {
    padding: 20px;
    justify-content: space-between;
  }

  .logo {
    padding-right: 40px;
    img {
      transform: translateY(7px);

      @media only screen and (max-width: 912px) {
        width: 90px;
      }
    }
  }

  .menu {
    position: relative;
    flex-grow: 2;
    &__list {
      display: flex;
      flex-flow: row nowrap;
      list-style-type: none;

      &__item {
        color: hsl(0, 0%, 41%);
        padding-right: 30px;
        cursor: pointer;
        transition: all 0.3s ease-out;

        &:hover {
          color: hsl(0, 0%, 8%);
        }
      }

      &__sub1,
      &__sub2 {
        display: none;
        position: absolute;
        left: -35px;
        border-radius: 8px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

        .sub__menu {
          margin: 0;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          list-style-type: none;
          padding: 28px 20px;

          .sub__item {
            color: hsl(0, 0%, 41%);
            padding-bottom: 10px;
            cursor: pointer;

            &:hover {
              color: hsl(0, 0%, 8%);
            }

            &:last-child {
              padding-bottom: 0;
            }

            .icon {
              display: inline-block;
              height: 16px;
              width: 16px;
              margin-right: 20px;
              background-repeat: no-repeat;
              background-size: cover;
              &-todo {
                background-image: url("../images/icon-todo.svg");
              }
              &-calendar {
                background-image: url("../images/icon-calendar.svg");
              }
              &-reminders {
                background-image: url("../images/icon-reminders.svg");
              }
              &-planning {
                background-image: url("../images/icon-planning.svg");
              }
            }
          }
        }

        &.show {
          display: block;
        }
      }

      &__sub2 {
        left: 150px;
      }
    }
  }

  .user {
    &__list {
      display: flex;
      align-items: center;
      flex-flow: row nowrap;
      list-style-type: none;

      &__item {
        color: hsl(0, 0%, 41%);
        padding-right: 30px;
        cursor: pointer;
        transition: all 0.3s ease-out;

        &:hover {
          color: hsl(0, 0%, 8%);
        }
      }

      &__item.button {
        border: 2px solid hsl(0, 0%, 41%);
        border-radius: 14px;
        padding: 16px 28px;
        transition: all 0.3s ease-out;
        cursor: pointer;

        &:hover {
          background-color: hsl(0, 0%, 8%);
          border: 2px solid hsl(0, 0%, 8%);
          color: hsl(0, 0%, 98%);
        }
      }
    }
  }
}

main {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  padding: 40px;
  @media only screen and (max-width: 912px) {
    flex-direction: column-reverse;
    padding: 0;
  }

  .text {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 60%;

    @media only screen and (max-width: 912px) {
      padding: 0;
      flex-basis: 100%;
    }
    .header {
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-start;
      h1 {
        font-size: 6em;
        max-width: 640px;
        margin: 0;
        margin-top: 36px;
        text-align: left;

        @media only screen and (max-width: 912px) {
          font-size: 2.25em;
          max-width: 370px;
          width: 100%;
          margin-top: 50px;
          text-align: center;
        }
      }
      p {
        font-size: 1.35em;
        line-height: 1.5em;
        max-width: 571px;
        color: hsl(0, 0%, 41%);
        margin-top: 36px;
        text-align: left;

        @media only screen and (max-width: 912px) {
          font-size: 1em;
          max-width: 340px;
          margin: 0 auto;
          width: 100%;
          margin-top: 26px;
          text-align: center;
        }
      }

      button {
        font-size: 1.35em;
        font-weight: 700;
        border: 2px solid hsl(0, 0%, 8%);
        background-color: hsl(0, 0%, 8%);
        color: hsl(0, 0%, 98%);
        border-radius: 14px;
        padding: 16px 28px;
        margin-top: 36px;
        transition: all 0.3s ease-out;
        cursor: pointer;

        &:hover {
          border: 2px solid hsl(0, 0%, 8%);
          background-color: hsl(0, 0%, 98%);
          color: hsl(0, 0%, 8%);
        }

        @media only screen and (max-width: 912px) {
          font-size: 1em;
          max-width: 340px;
          margin: 0 auto;
          margin-top: 26px;
          text-align: center;
        }
      }
    }

    .logo-group {
      padding: 10px;
      img {
        padding-right: 30px;
      }
      .attribution {
        font-size: 10px;
        text-align: left;
        padding-top: 40px;

        @media only screen and (max-width: 912px) {
          text-align: center;
        }
      }
      .attribution a {
        color: hsl(228, 31%, 45%);
      }

      @media only screen and (max-width: 912px) {
        margin: 0 auto;
        margin-top: 36px;

        img {
          padding-right: 10px;
          width: 80px;
        }
      }
    }
  }
  .featured-image {
    flex-basis: 40%;
    overflow: hidden;
    width: 100%;
    height: 725px;
    background-image: url(../images/image-hero-desktop.png);
    background-size: cover;
    @media only screen and (max-width: 912px) {
      padding: 0;
      padding-top: 20px;
      flex-basis: 100%;
      background-image: url(../images/image-hero-mobile.png);
      background-size: cover;
      min-height: 282px;
      width: 100%;
    }
  }
}

.blocker {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  opacity: 0;
  transition: all 0.3s ease-in;
}

.mobile-container {
  position: fixed;
  top: 0;
  z-index: 3;
  height: 100%;
  background-color: hsl(0, 0%, 98%);
  opacity: 0;
  transition: all 0.3s ease-in;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 20px;
  width: 240px;

  .close-btn {
    cursor: pointer;
  }

  .sub__menu {
    list-style-type: none;
    width: 100%;
    padding: 0;
    padding-top: 22px;

    li {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      padding: 13px 0;
      color: hsl(0, 0%, 41%);
      cursor: pointer;

      .submenu-1,
      .submenu-2 {
        width: 100%;
        padding-top: 20px;
        transition: all .3s ease-in;

        div {
          padding: 5px 0;
          padding-left: 45px;
        }
      }
    }
  }
}

.desktop-only {
  display: block;

  @media only screen and (max-width: 912px) {
    display: none;
  }
}

.mobile-only {
  display: none;

  @media only screen and (max-width: 912px) {
    display: block;
  }
}
